
<div class="container mt-5">
    <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Function</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i = index">
            <th>{{i+1}}</th>
            <th><p>{{team.teamName}}</p></th>
            <th>
                <a href=""><i class="bi bi-plus-square text-primary"></i></a>
                <a href=""><i class="bi bi-pencil text-success mx-2"></i></a>
                <a href=""><i class="bi bi-trash3 text-danger"></i></a>
            </th>
          </tr>
        </tbody>
      </table>
</div>