<div class="img-container">
    <img src="/assets/images/HRM_homepage.jpg" alt="image" class="img-home">
    <div class="img-text">
        <h1>HR MANAGEMENT</h1>
        <p>Human Resource Managers are professionals who plan for new staff, interview and hire them accordingly to cultivate a healthy work environment where everyone can thrive. They also consult executives on strategic decisions affecting all management levels to create sustainable change within their business or company.</p>
    </div>
</div>