<div
  class="offcanvas offcanvas-start w-25"
  tabindex="-1"
  id="offcanvas"
  data-bs-keyboard="false"
  data-bs-backdrop="false"
>
  <div class="offcanvas-header">
    <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
      id="menu"
    >
      <li class="nav-item">
        <a href="#" class="nav-link text-truncate" routerLink="/manage">
          <i class="fs-5 bi-house"></i
          ><span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li>
        <a
          href="#submenu1"
          data-bs-toggle="collapse"
          class="nav-link text-truncate"
          routerLink="members"
        >
          <i class="fs-5 bi-people"></i
          ><span class="ms-1 d-none d-sm-inline">Manage Members</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-truncate" routerLink="users">
          <i class="fs-5 bi-people"></i
          ><span class="ms-1 d-none d-sm-inline">Manage Users</span></a
        >
      </li>
      <li>
        <a href="#" class="nav-link text-truncate" routerLink="teams">
          <i class="bi bi-globe2"></i
          ><span class="ms-1 d-none d-sm-inline">Manage Teams</span></a
        >
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- render management pages here! -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
